#inspo-image {
  max-height: 180px;
  object-fit: cover;
}
.btn-custom{
  background-color: #F4E04D;
  color: black;
}

#suggestion {
  max-height: 400px;
  object-fit: cover;
  padding: 10px;
}

.gradientDiv {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    80%,
    rgb(0, 0, 0, 1)
  );
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.card-title {
  margin-bottom: 0px !important;
}

.card {
  border: 0px !important;
  border-radius: 5px !important;
}
