#root {
  overflow: hidden;
}

.app {
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #000000;
  text-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #000000;
}

.swipe {
  position: absolute;
}

#inspo-image {
  max-height: 180px;
}

#attractions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card-swipe {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card-swipe h5 {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 15px;
  color: #fff;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #000000;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {

  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.btn-custom{
  background-color: #F4E04D !important;
  border: none;
  color: black !important;
  border-radius: 10px;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  /* border-radius: 5px;
  border: none;
  color: #000000;
  font-size: 18px;
  background-color: #ffc107; */
  transition: 200ms;
  margin: 10px;
  /* font-weight: bolder; */
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.gradientDiv {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    80%,
    rgb(0, 0, 0, 1)
  );
  position: absolute;
  height: 100%;
  width: 100%;
}
