/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Set font family and color variables */
:root {
  --primary-color: #18A0FB;
  --secondary-color: #BDEFFB;
  --text-color: #333333;
  --font-family: 'Roboto', sans-serif;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

/* Navbar css */
.navbar-brand {
  padding: 0 15px;
  margin-right: 15px;
  border-right: 1px solid #dee2e6;
}

.navbar-brand img {
  height: 50px;
  margin-right: 10px;
}

/*lily css*/
/* body {
  background-image: url(./assets/clouds.png);
  background-repeat: no-repeat;
  background-size: cover;
} */
