/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Set font family and color variables */
:root {
  --primary-color: #1A1F33;
  --secondary-color: #9AC9E1;
  --text-color: #FFFFFF;
  --font-family: 'Roboto', sans-serif;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Home page */
body {
  background-color: #1A1F33 !important;
  color: #FFFFFF;
  font-family: ‘Open Sans’, sans-serif;
}
/* Apply styles to the header */
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px #ccc;
}
h1, h2, h3, h4, h5, h6 {
  color: #9AC9E1 !important;
  font-family: ‘Roboto’, sans-serif !important;
}
.card {
  border: none !important;
  transition: box-shadow 0.3s ease-in-out !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

.card-img {
  height: 12rem;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card-text {
  margin-bottom: 1.5rem;
}

footer {
  font-size: 0.9rem;
  background-color: #f8f9fa;
  color: #777;
  padding: 1.5rem 0;
}
/* Navbar css */
.navbar-brand {
  padding: 0 15px;
  margin-right: 15px;
  border-right: 1px solid #dee2e6;
}

.navbar-brand img {
  height: 50px;
  margin-right: 10px;
}

/*lily css*/
/* body {
  background-image: url(./assets/clouds.png);
  background-repeat: no-repeat;
  background-size: cover;
} */
