body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#inspo-image{
  max-height: 180px;
}

/*lily css*/
body {
  background-image: url(./assets/clouds.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  padding: 0 15px;
  margin-right: 15px;
  border-right: 1px solid #dee2e6;
}

.navbar-brand img {
  height: 50px;
  margin-right: 10px;
}



