body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-image {
  object-fit: cover;
}

.gradientDiv {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0),
      80%,
      rgb(0, 0, 0, 1));
  position: absolute;
  height: 100%;
  width: 100%;
}

#inspo-image {
  max-height: 180px;
}

/*main css*/
body {
  background-color: #CEE397 !important;
}

.btn-custom {
  background-color: #F2ED6F;
}

/* navbar css */

.navbar-brand {
  padding: 0 15px;
  margin-right: 15px;

}

.navbar-brand img {
  height: 50px;
  margin-right: 10px;
}

.navbar-collapse {
  background-color: #8DB1AB;
}

.navbar-toggler {
  color: #9AC9E1;
}

.navbar {
  background-color: #8DB1AB;

}

.navbar-nav a {
  color: white;
  text-align: center;
}

.navbar-nav a:hover {
  color: #587792;
}

.navbar-toggler-icon {
  background-image: url(./assets/navbaricon.png) !important;
}

@media only screen and (max-width: 375px) {
  .navbar-toggler {
    top: 80px;
    right: 10px;
    position: absolute;
  }

  .navbar-brand {
    font-size: 1rem;
  }

}


/* footer css */

.content-container {
  min-height: calc(100vh - 30px) !important;
}

.footer--pin {
  position: relative !important;
  left: 0;
  bottom: 0;
}

.footer {
  background-color: #F2ED6F;
}